Evalboards/Microsoft/Windows/OS2/Visual Studio/Debug/
OS2.vcxproj
Evalboards/Microsoft/Windows/OS2/Visual Studio/.vs/
Evalboards/Microsoft/Windows/OS2/Visual Studio/OS2.VC.VC.opendb
Evalboards/Microsoft/Windows/OS2/Visual Studio/OS2.VC.db
